@import '../../_variables.scss';

.notice {
    min-height: calc(100vh - 35px);

    &Body {
        margin: 95px 0 0;

        &Title {
            max-width: 1240px;
            margin: 0 auto;

            h1 {
                font-size: 50px;
                padding: 0 0 120px;
            }

            &Center {
                text-align: center;
                max-width: 100%;
                transition: max-width 0.4s ease-out;
            }

            &Left {
                max-width: 630px;
                text-align: center;
                transition: max-width 0.3s cubic-bezier(0, 0.1, 0.71, 0.51);
            }
        }

        &Container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            max-width: 1240px;
            margin: auto;

            &Pictures {
                position: sticky;
                top: calc((100vh - 480px) / 2);
                width: 630px;
                height: 630px;
                margin: 0 50px 0 0;

                img {
                    width: 630px;
                }
            }

            &Info {
                display: flex;
                flex-direction: column;
                margin: 0 0 50px 25px;
                padding: 30px;
                border: 1px solid $grey;
                background-color: white;
                z-index: 10;

                &Separator {
                    content: '';
                    display: block;
                    width: 43px;
                    height: 8px;
                    background-color: $yellow;
                    border-radius: 10px;
                    margin: 30px auto;
                }

                &Header,
                &List {
                    text-align: center;

                    &Title {
                        font-size: 35px;
                        margin: 0 0 30px;
                    }

                    &Text,
                    &Item {
                        font-size: 22px;
                        line-height: 33px;
                    }
                }

                &List {
                    &Item {
                        text-align: left;
                    }
                }

                &Footer {
                    font-size: 35px;
                }
            }
        }
    }
}