.shopContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 35px);

    &Title {
        text-transform: uppercase;
        font-size: 80px;
        text-align: center;
        margin: 155px 0 0;
    }

    &Items {
        margin: 50px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1440px;
    }

    i {
        margin: 40px;
        width: 360px !important;

    }
    @media screen and (max-width: 575px) {
        margin: 0 20px;
        &Title {
            font-size: 50px;
            margin: 100px 0 0;
        }
        &Items {
            width: 100%;
            margin: 0;
        }
    }
}