.shopItem {
  position: relative;
  margin: 40px;
  width: 360px;
  height: 360px;
  cursor: pointer;

  &Image {
    img {
      width: 360px;
    }
  }
  &Info {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5e77a;

    &Name {
      font-size: 28px;
      margin: 0 0 28px 0;
      text-align: center;
      font-family: "Arvo", serif !important;
    }

    &Price {
      font-size: 22px;
      font-family: "Arvo", serif !important;
    }
  }

  &:hover > &Info {
    display: flex;
  }

  @media screen and (max-width: 575px) {
    width: 100%;
    height: 100%;
    margin: 20px 0;
    &Image {
      img {
        width: calc(100vw - 40px);
      }
    }
  }
}
