@import '../../_variables.scss';

.navbar {
    position: fixed;
    top: 70px;
    left: 84px;
    z-index: 10;

    &Hamburger {
        width: 35px;
        margin: 0;
        cursor: pointer;

        &:hover>span {
            background-color: $yellow;
        }

        span {
            display: block;
            content: '';
            width: 35px;
            height: 2px;
            background-color: $grey;
            margin: 7px 0;


        }
    }

    &Menu {
        &Close {
            z-index: 1;
        }
    }
}