@import '../../_variables.scss';

.navbar {
    z-index: 1000;

    &Hamburger {
        width: 35px;
        margin: 60px 0 0 85px;
        cursor: pointer;

        &:hover>span {
            background-color: $yellow;
        }

        span {
            display: block;
            content: '';
            width: 35px;
            height: 2px;
            background-color: $grey;
            margin: 7px 0;


        }
    }
}