@import '../../_variables.scss';

.menuFalse {
    display: none;
}

.menuOpen {
    display: inline;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $yellow;
    z-index: 10;

    &Close {
        position: relative;

        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 30px;
            left: 30px;
            width: 1px;
            height: 30px;
            background-color: $grey;
            transform: rotate(45deg);
        }

        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 30px;
            left: 30px;
            width: 1px;
            height: 30px;
            background-color: $grey;
            transform: rotate(-45deg);
        }

    }

    &Container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &Items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}