@import '../_variables.scss';

.home {
    &Header {
        height: 100vh;
        display: flex;
        flex-direction: column;

        &Container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            pointer-events: none;
            margin: auto 0;
            align-content: center;
            padding: 0 100px;
            z-index: 1;


            &Items {
                &Title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 80px;
                    height: 390px;
                    z-index: 2;
                    text-transform: uppercase;
                    padding-bottom: 20px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    padding: 0;
                }
            }

            &Subtitle {
                margin: 161px 0 0;
                font-size: 34px;
                text-align: center;
                letter-spacing: 0.5px;
            }
        }
    }

    &Shop {
        margin: 0;

        &Title {
            font-size: 70px;
            text-align: center;
            text-transform: uppercase;
            margin: 210px 0 115px;
        }

        &Category {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 0 150px;

            &Items {
                position: relative;
                margin: 0 40px;
                width: 360px;
                height: 360px;
                cursor: pointer;

                &Hover {
                    position: absolute;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #F5E77A;

                    p {
                        font-size: 35px;
                    }
                }

                &:hover>&Hover {
                    display: flex;
                }
            }
        }

        &Inspiration {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            padding: 137px 0;
            background-color: $yellow;

            &Title {
                text-align: center;
                font-size: 45px;
                margin: 0 0 55px;
            }

            &Description {
                font-size: 22px;
                line-height: 33px;
                max-width: 1240px;
                margin: 0 auto;
                text-align: center;

            }
        }
    }
}