@import "../_variables.scss";

.home {
  &Header {
    height: 100vh;

    &Container {
      &Items {
        position: relative;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
          position: absolute;
          margin: 0 auto;
          left: calc(50% - 200px);
          width: 400px;
        }

        h1 {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 80px;
          z-index: 2;
          text-transform: uppercase;
          text-align: center;
          padding: 0;
        }
      }

      &Subtitle {
        h3 {
          font-size: 34px;
          text-align: center;
          letter-spacing: 0.5px;

          span {
            color: #f5e77a;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 769px) {
  .home {
    &Header {
      &Container {
        &Items {
          img {
            left: calc(50% - 135px);
            width: 270px;
          }

          h1 {
            font-size: 55px;
            line-height: 65px;
          }
        }

        &Subtitle {
          h3 {
            font-size: 26px;
            line-height: 32px;
            letter-spacing: 0.5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .home {
    &Header {
      height: 100vh;

      &Container {
        &Items {
          margin: 0 15px;

          img {
            left: calc(50% - 125px);
            width: 250px;
          }

          h1 {
            font-size: 45px;
            line-height: unset;
          }
        }

        &Subtitle {
          h3 {
            font-size: 18px;
            line-height: 17px;
            letter-spacing: 0.5px;
          }
        }
      }
    }
  }
}