@import '../../_variables.scss';

.footer {
    padding: 8px 70px;
    background-color: $yellow;

    &Container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;

        &Copyright,
        &Author {
            font-size: 14px;

        }
    }
    @media screen and (max-width: 575px) {
        padding: 20px;
        &Container {
            &Copyright,
            &Author {
                font-size: 12px;
    
            }
        }
    }
}