@import '../../_variables.scss';

.prefooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &Item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &Title {}

        &Content {
            &Social {}
        }


    }
}