@import '../../_variables.scss';

.prefooter {
    padding: 110px 70px;

    &Container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1440px;

        &Item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;



            &Title {
                text-transform: uppercase;
                margin: 0 0 18px 0;
                font-size: 18px;
            }

            &Content {
                font-size: 18px;
                line-height: 24px;
            }


        }
    }
}