@import "./Components/_Home.scss";
@import "./Components/Shop/_ShopItem.scss";
@import url('https://fonts.googleapis.com/css?family=Arvo|Raleway');

* {
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    color: #666666;
    font-weight: 400;
}

h3 {
    font-family: 'Arvo', serif;
}

h1,
h2,
h4,
p {
    font-family: 'Raleway', sans-serif;
}